@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-background: #f9fafc;
  --sidebar-width: 240px;
  --sidebar-nav-header-color: #6B778C;
  --sidebar-nav-item-color: #42526E;
}
