.root {
  @apply border-r border-slate-200 py-4;

  background-color: var(--sidebar-background);

  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;

  width: var(--sidebar-width);
  z-index: 50001;
}

.navHeaderItem {
  @apply font-bold mb-2 mt-4 px-4 text-[11px] uppercase;

  color: var(--sidebar-nav-header-color);
}

.navItem {
  @apply px-2 py-2 rounded text-sm
  hover:bg-neutral-100 hover:cursor-pointer
  active:bg-neutral-200;

  color: var(--sidebar-nav-item-color);
}
